<!DOCTYPE html>
<html lang="en">
<style>
    .card{
        background-color: #FFF;
        border-radius: 5px;
        padding: 10px;
    }
    .card h4{
        margin-top: 0px;
        border-bottom: 0.5px solid #DDD
    }
</style>
<body>
    <div class="row form-group">
        <div class="col-xs-12 text-center">
            <h2 class="">PREFEITURAS</h2>
            <hr>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-xs-3">
            <div class="row">
                <div class="col-xs-12 col-md-12 form-group">
                    <div class="card">
                        <h4>RIBEIRÃO DAS NEVES</h4>
            
                        <p><a target="_blank" href="http://www.ribeiraodasneves.mg.gov.br/"  title="Site Ribeirão das Neves">Site Rib. Neves</a> </p>
                        <p><a target="_blank" href="http://www.ribeiraodasneves.mg.gov.br/index.php/secretarias/planejamento-e-gestao" >Planejamento e Gestão</a> </p>
                        <p><a target="_blank" href="http://www.ereceita.net.br/portal/index.php?uri=DcrBCcAgDADAXYIDJKmoQRzGtnkIosVI52_vfc7UrM4CFBlDQo58EAVP_plr105eUjySCKEI_wURsrt607G1wGqntlXnXW3oqwb5Aw%3D%3D">IPTU on-line</a> </p>
                    </div>
        
                </div>
                <div class="col-xs-12 col-md-12 form-group">
                    <div class="card">
                        <h4>CONTAGEM</h4>
                        <p><a target="_blank" href="http://www.contagem.mg.gov.br/" >Site Contagem</a> </p>
                    </div>
                </div>
                <div class="col-xs-12 col-md-12">
                    <div class="card">
                        <h4>BETIM</h4>
                        <p><a target="_blank" href="www.betim.mg.gov.br/" >Site Betim</a> </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-3">
            <div class="card">
                <h4>BH</h4>
                <p><a target="_blank" href="http://portaldeservicos.pbh.gov.br/portalservicos/view/paginas/home.jsf"  title="Site PBH">Site PBH</a> </p>
                <p><a target="_blank" href="https://urbano.pbh.gov.br/edificacoes/#/rt/login"  title="Portal do Responsável Técnico" >Portal do RT</a> </p>
                <p><a target="_blank" href="http://www.siasp-ru.pbh.gov.br/protocoloNovo.php"  title="Consulta de protocolos" >Siasp RU</a> </p>
                <p><a target="_blank" href="http://portalpbh.pbh.gov.br/pbh/ecp/comunidade.do?app=prodabel" >Prodabel</a> </p>
                <p><a target="_blank" href="http://portaldeservicos.pbh.gov.br/portalservicos/view/paginas/apresentaServico.jsf" >Aprovação Ínicial</a> </p>
                <p><a target="_blank" href="http://portalpbh.pbh.gov.br/pbh/ecp/comunidade.do?evento=portlet&pIdPlc=ecpTaxonomiaMenuPortal&app=regulacaourbana&tax=27371&lang=pt_BR&pg=5570&taxp=0&">Regulação Urbana</a> </p>
                <p><a target="_blank" href="http://iptuonline.siatu.pbh.gov.br/IptuOnline/index.xhtml">IPTU on-line</a> </p>
                <p><a target="_blank" href="http://siurbe.pbh.gov.br/docsiurbe_internet">Informação Básica</a> </p>
                <p><a target="_blank" href="http://guias.siatu.pbh.gov.br/siatu-urbano-guias-publico/f/t/egprojetoedificacaoman">Emissão de Taxas</a> </p>
                <p><a target="_blank" href="http://agendamentoeletronico.pbh.gov.br/senhafacil/">Agendamento on-line</a> </p>
            </div>
        </div>

        <div class="col-xs-12 col-md-3">
            <div class="card">
                <h4>RIO DE JANEIRO</h4>
    
                <p><a target="_blank" href="http://www.rio.rj.gov.br/" >Site Rio de Janeiro</a> </p>
            </div>
        </div>

        <div class="col-xs-12 col-md-3">
            <div class="card">
                <h4>SETE LAGOAS</h4>
    
                <p><a target="_blank" href="https://www.setelagoas.mg.gov.br/" >Site Sete Lagoas</a> </p>
            </div>
        </div>
    </div>

    <div class="row" 
        style="background-color: #343434;
            color: #FFF; 
            padding: 10px; 
            border-radius: 5px;">

        <div class="col-xs-12" style="border-bottom: 0.5px solid #FFF">
            <h2 style="margin-top: 0px">SERVIÇOS ÚTEIS</h2>
        </div>

        <div class="col-md-3">
            <h3>TELEFONES</h3>
            <span>Prefeitura BH - 156</span><br>
            <span>GELED PBH - 3246-0609</span><br>
            <span>GEGED - 3246-0570</span><br>
            <span>GECOAR - 3246-0629</span><br>
            <span>GDON - 3246-0566</span><br>
            <span>GETT - 3246-1028</span><br>
        </div>

        <div class="col-md-3">
            <h3>EMAILS</h3>

            <span id="email"><a href="javascript:;">Emails da PBH</a></span><br>
            <span id=""><a target="_blank" href="https://outlook.live.com/owa/" title="Secretaria de Meio Ambiente">smaru@pbh.gov.br</a></span><br>
            <span>gedon@pbh.gov.br (GEDON)</span><br>

        </div>
    </div>
</body>
</html>